body {
  --h1-size: 2.4em; 
  --h2-size: 2.1em; 
  --h3-size: 1.8em; 
  --h4-size: 1.4em; 
  --h5-size: 1.2em; 
  --h6-size: 1.1em;

  --h1-weight: 700;
  --h2-weight: 600;
  --h3-weight: 600;
  --h4-weight: 500;
  --h5-weight: 500;
  --h6-weight: 500;
}

:root {
  --font-family-system: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Consolas', monospace;
  --font-family-monospace: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Courier New', monospace;
}

.cm-editor .cm-content, 
.markdown-source-view,
.markdown-preview-view {
  font-family: var(--font-family-system) !important;
}

